# Mac
.DS_Store

# IntelliJ
.idea/
*.iml
out/

# Build & Gradle
build/
.gradle/

# Logs
*.log
file-data-map/

# Local Storage & Resources
storage/
src/main/resources/fe_bundle_1.2.3.zip

# Environment Variables
.env
discodeit.env